[submodule "nvim"]
	path = nvim
	url = git@github.com:GavinMeierSonos/nvim-config.git
[submodule "warp"]
	path = warp
	url = git@github.com:GavinMeierSonos/warp.git
[submodule "wallpapers"]
	path = wallpapers
	url = git@github.com:GavinMeierSonos/wallpapers.git
[submodule "raycast-preferences"]
	path = raycast-preferences
	url = git@github.com:GavinMeierSonos/raycast-preferences.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:GavinMeierSonos/zsh.git
